@import "tailwindcss";
@plugin "daisyui" {
   themes:all;
 }

 [data-theme="cupcake"] .navbar-bg {
  background-color: #fdf6f0; /* Cupcake */
}

[data-theme="synthwave"] .navbar-bg {
  background: linear-gradient(90deg, #ff6bcb, #7366ff); /* Synthwave */
}